@import "./variables.css";
@import "./default.css";
@import "./header.css";
@import "./productBox.css";
@import "./footer.css";

main {
    margin-bottom: 20rem;
}

.nav {
    position: unset;
}

/* ================= pages ================== */
.pages {
    background-color: var(--main-backgrond-color);
    height: 6rem;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.pages span {
    margin: 0 1rem;
    color: #6e6e6e;
    cursor: context-menu;
}

.pages a {
    color: #6e6e6e;
    font-family: 'Roboto Medium';
    transition: color 250ms ease;
}

.pages a:hover {
    color: var(--main-color);
}

.pages a:last-child {
    color: var(--main-color);
}


/* ============ qustion box ================ */

.bor-botoom{
    border-bottom: 0.4rem solid var(--main-backgrond-color);
    padding-bottom: 5rem;
}

.panel-collapse{
    height: 0;
    overflow: hidden;
    transition: all 380ms ease 80ms;
}
.toggle_info {
    padding: 2rem;
    background-color: var(--main-backgrond-color);
    border-radius: 1rem;
    border: 1px solid #eee;
    font-size: 1.4rem;
}
.toggle_info a {
    color: var(--main-color);
}
.mr-5 {
    margin-right: 5px;
    color: var(--main-color);
}
.text-muted {
    color: #8e8e90;
}

.login_form .panel-body, .coupon_form .panel-body {
    border: 1px solid #eee;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.font-sm {
    font-size: 13px;
}
.panel-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    color: #4f5d77;
}
.form-group  input {
    background: var(--main-backgrond-color);
    border: 2px solid #f4f5f9;
    height: 45px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 13px;
    border-radius: 10px;
    color: #4f5d77;
    outline: none;
    width: 100%;
    transition: all 280ms ease;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group input:focus{
    background-color: transparent;
}
.login_footer {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
}
.custome-checkbox{
    display: flex;
    align-items: center;
}
.custome-checkbox input{
    width: 1.5rem;
    height: 1.5rem;
}
.custome-checkbox .form-check-label {
    position: relative;
    cursor: pointer;
    color: #687188;
}
.panel-collapse.show{
    height:45rem;
}

/*==================================== price summery ==================== */

.shopCart-summery{
    width: 37rem;
    height: 45rem;
    background-color: var(--main-backgrond-color);
    border-radius: 1rem;
    margin-top: 11.5rem;
    padding: 3rem 4.5rem;
    font-size: 1.4rem;
}
.shopCart-summery h4{
    margin-bottom: 2rem;
    font-family: 'Roboto Medium';
    font-size: 2rem;
}
.shopCart-summery li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.shopCart-summery li a{
    font-family: 'Roboto Medium';
    font-size: 1.7rem;
}
.shopCart-summery li span{
    color: #757F95;
}
.total-shopCart{
    border-top: 0.2rem solid rgba(0, 0, 0, 0.08);
    padding-top: 2rem !important;
    margin-top: 3rem;
}
.total-shopCart span{
    color: var(--main-color) !important;
    font-size: 1.7rem;
    font-family: 'Roboto Medium' !important;
}
/* .shopCart-summery{
   
} */
.liBtn{
    display: flex;
    align-items: end !important;
    justify-content: end !important;
}
.liBtn a{
    font-size: 1.4rem !important;
}
.liBtn svg{
    width: 1.7rem;
}
.shopCart-contentEmpty{
    position: absolute;
    display: none ;
    top: 11%;
    right: 6%;
}

/* ========================= send info ============================ */

.mb-32 {
    margin-bottom: 32px;
}
.input-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-radius: 10px;
    background-color: var(--main-backgrond-color);
}
.mb-24 {
    margin-bottom: 24px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: var(--bs-body-color); */
    background-color: var(--main-backgrond-color);
    background-clip: padding-box;
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control, input {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    background: transparent;
    border: none;
    color: #7A7F85;
    /* width: 75%; */
    outline: none;
}
.input-container span {
    width: 72px;
    height: 48px;
    background-color: transparent;
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.input-container span svg {
    font-size: 24px;
    color: var(--main-color);
}
.fx-gr{
    flex-grow: 1;
    outline: none;
    border: none;
}
.title-ship{
    color: var(--main-color);
    font-size: 2.5rem;
    margin: 4rem 0;
}

.mr-1{
    margin: 1rem 0;
}
.pass-checkout ,.billing-address-form{
    height: 0;
    overflow: hidden;
    transition: all 380ms ease 80ms;
}
.pass-checkout.active{
    height: 7rem;
    margin: 2rem 0;
}
.billing-address-form.active{
    height: 80rem;
}
textarea{
    resize: vertical; 
    overflow: auto;
    min-height: 10rem;
    max-height: 30rem;
}