/* --app styles-- */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--main-txt-color-black);
    background-color: var(--main-txt-color-white);
}
main{
    overflow: hidden;
}
a {
    text-decoration: none;
    color: var(--main-txt-color-black);
}

a:visited {
    color: var(--main-txt-color-black);
}

ul {
    list-style-type: none;
}
.mg-bottom {
    margin-bottom: 30px;
}
/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(#21d4fd, #b721ff); */
    /* border-radius: 100px; */
    background-color: var(--main-color);
}


.btn-scroll-up {
    position: fixed;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 50%;
    right: 1rem;
    bottom: 3rem;
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.btn-scroll-up svg {
    width: 2.5rem;
    color: var(--main-txt-color-white);
}


.btn {
    margin-top: 2.5rem;
    background-color: var(--main-color);
    width: 14rem;
    height: 4rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.7rem;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    height: 300px;
    width: 300px;
    background: var(--main-txt-color-black);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0);
    transition: .5s cubic-bezier(.25, .46, .45, .94);
    z-index: 1;
}

.btn:hover::before {
    transform: translateY(-50%) translateX(-50%) scale(1);
}

.btn:hover svg {
    margin-left: 1.2rem;
}

.btn a {
    color: var(--main-txt-color-white);
    z-index: 2;

}

.btn svg {
    width: 2rem;
    margin-left: 0.5rem;
    color: var(--main-txt-color-white);
    z-index: 2;
    transition: .5s cubic-bezier(.25, .46, .45, .94);
}