/* =============== newleter ================ */
.newsleter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newsleter-box {
    background-color: var(--main-color);
    padding: 2.5rem 0;
    margin-bottom: 6rem;
}

.newsleter-title {
    display: flex;
    align-items: center;
}

.newsleter-title svg {
    width: 4rem;
}

.newsleter-title p {
    color: var(--main-txt-color-white);
    font-size: 1.9rem;
    font-family: 'Roboto Medium';
    padding-left: 1rem;
}

.newsleter-inner {
    text-align: center;
    color: var(--main-txt-color-white);
}

/* .newsleter-box-input {} */

.newsleter-form {
    width: 40rem;
    height: 5rem;
    position: relative;
}

.newsleter-input {
    outline: 0;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    font-size: 1.7rem;
    color: var(--main-txt-color-black);
    padding: 1rem 0 1rem 3rem;
    background-color: var(--main-txt-color-white);
}

.newsleter-btn {
    position: absolute;
    outline: 0;
    border: none;
    color: var(--main-txt-color-white);
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: var(--main-txt-color-black);
    border-radius: 5rem;
    font-size: 1.7rem;

    margin-top: 2.5rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pad-botoom {
    padding-bottom: 3rem;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.08);
}

/* ===================== footer ========================= */

.footerLogo{
    margin-bottom: 1rem;
}
.footerLogo a {
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: var(--main-color);
    font-family: 'Roboto Medium';
}
.footerLogo h3 {
    padding-left: 0.8rem;
}
.footer-info {
    font-family: 'Roboto Medium';
}

.footer-info a img {
    width: 60%;
}

.footer-info p {
    margin: 1rem 0;
    line-height: 2.7rem;
}

.footer-contact li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: .8rem;
}

.footer-contact a {
    color: var(--main-txt-color-black);
}
.footer-contact svg {
    color: var(--main-color);
    margin-right: 1rem;
}

.footer-contact li i {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-right: 1.1rem;
    border-radius: 5rem;
    background: var(--main-color);
    text-align: center;
    transition: .3s;
    color: var(--main-txt-color-white);
}

.footer-list-box {
    font-family: 'Roboto Medium';
}

.footer-list-title {
    color: var(--main-txt-color-black);
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: 'Roboto Medium';
    /* z-index: 1; */
}

.footer-list-title::before {
    content: '';
    position: absolute;
    width: 26%;
    height: 2px;
    background: var(--main-color);
    border-radius: 5rem;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list li {
    margin: 0.577rem 0;
    position: relative;
    transition: all 250ms ease-in-out;
}

.footer-list li::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0.7rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    transition: all 250ms ease-in-out;
}

.footer-list li:hover::before {
    width: 0.7rem;
}

.footer-list li:hover {
    padding-left: 1.2rem;
}

.footer-list li:hover a {
    color: var(--main-color);
}

.footer-list li a {
    color: var(--main-txt-color-black);
    font-family: 'Roboto Medium';
    transition: all 250ms ease-in-out;
}

.footer-download-btn {
    display: flex;
}

.footer-download-btn a {
    display: flex;
    align-items: center;
    padding: 10px 13px 10px 10px;
    background: var(--main-color);
    color: var(--main-txt-color-white);
    border-radius: 7px;
}

.footer-download-btn a:last-child {
    margin-left: 1rem;
}

.download-btn-info {
    display: flex;
    flex-direction: column;
    margin-left: .9rem;
}

.download-btn-info span {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

.download-btn-info h6 {
    font-size: 14px;
    margin-top: 5px;
}

.footer-download-btn a i {
    font-size: 32px;
}

.footer-download h5 {
    margin: 1rem 0;
}

.footer-payment span {
    margin: 1rem 0;
}

.footer-payment {
    display: flex;
    flex-direction: column;
}

/* ============= copyRight =============== */

.copyright-wrap {
    padding: 1.5rem 0;
}

.copyright .copyright-text a {
    color: var(--main-color);
    font-weight: 500;
}

.footer-social {
    display: flex;
    justify-content: end;
}

.footer-social a {
    height: 3.8rem;
    width: 3.8rem;
    line-height: 3.9rem;
    text-align: center;
    border-radius: 50px;
    background: var(--main-backgrond-color);
    margin: 0 0.4rem;
    transition: all 180ms ease;
}

.footer-social a:hover {
    color: var(--main-txt-color-white);
    background-color: var(--main-color);
}

.align-self-center {
    align-self: center !important;
}

.footer-social span {
    padding: 1rem;
}